@import '@/assets/styles/global.scss';

.game-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: toRem(140);

  padding-top: $safe-margin-top-height;
  height: $screen-height;
}
