@import '@/assets/styles/global.scss';

.game-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  max-width: toRem(480);
  margin: auto;
  padding-bottom: toRem(200);
  padding-top: toRem(60);
  height: $screen-height;

  .page-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .back-btn {
      transform: translate(-4px, 2px);
      @include select-restricted;
      cursor: pointer;

      @include desktop {
        &:hover {
          filter: drop-shadow(1px 3px 2px rgba(94, 94, 94, 0.3));
        }
      }
    }

    h1 {
      font-size: toRem(46);
    }
  }

  .page-body {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: toRem(48);
  }

  @include mobile {
    padding-top: $safe-margin-top-height;

    .page-header {
      .back-btn {
        transform: translate(-4px, 2px);
      }

      h1 {
        font-size: toRem(36);
      }
    }

    padding-bottom: toRem(80);
  }
}
