@import '@/assets/styles/global.scss';

.board {
  display: grid;
  height: 90vw;
  width: 90vw;
  max-width: toRem(480);
  max-height: toRem(480);
  grid-auto-rows: 1fr;
  border: toRem(1) solid $main-black-color;
  @include select-restricted;
}
