@import '@/assets/styles/global.scss';

.game-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  gap: toRem(14);

  .game-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    font-size: toRem(18);
    max-width: 40vh;

    .game-options-btn {
      @include select-restricted;
      cursor: pointer;

      @include desktop {
        &:hover {
          filter: drop-shadow(1px 3px 2px rgba(94, 94, 94, 0.3));
        }
      }
    }
  }

  @include mobile {
    .game-options {
      width: 80%;
      max-width: toRem(300);
    }
  }
}
