@import '@/assets/styles/global.scss';

.tile {
  border: toRem(2) solid $main-black-color;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none !important;
  -webkit-tap-highlight-color: transparent; /* iOS Safari */

  &.win-tile {
    background-color: $gray-color-3;
  }

  .tile-content {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &.empty {
      opacity: 0;

      &:hover {
        opacity: 0.4;
      }
    }
  }

  @include mobile {
    .tile-content {
      &.empty {
        opacity: 0;

        &:hover {
          opacity: 0;
        }
      }
    }
  }
}
