@import '@/assets/styles/global.scss';

.home-page {
  padding-top: $safe-margin-top-height;
  height: $screen-height;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
